html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  background-size: 100% auto;
  background-position: center center;
  background-image: url("../rick-y-morty-escapando-de-portal-9235.webp")
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
